:host {
  @apply(--typography);
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
  padding: 1rem;
  background: var(--light-black);
  z-index: var(--on-top);
}

:host([visible]) {
  display: flex;
}

/* Click-to-escape target */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  display: inline-block;
  position: relative;
  background: white;
  width: 100%;
  height: var(--modal-height, auto);
  min-height: 300px;
  max-width: var(--modal-width, auto);
  margin: auto;
  overflow: hidden;
  box-shadow: 0 1px 1px var(--light-black);
  z-index: 1;
}

.modal__banner {
  padding: 24px 40px;
  background: var(--modal-banner-background, --blue);
  color: var(--modal-banner-color, white);
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}

.modal__content {
  padding: var(--modal-content-padding, 40px);
  overflow: auto;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 13px;
  height: auto;
  color: var(--light-black);
  --icon-size: 14px;
}

.modal__close:hover {
  color: var(--med-black);
}

.modal__close[banner] {
  color: var(--med-white);
}

.modal__close[banner]:hover {
  color: var(--bright-white);
}

:host ::content .modal-action {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: var(--blue);
  color: white;
  padding: 16px 24px;
  border-radius: var(--border-radius);
}
